<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add a Mongoose</title>
</head>
<body>
    <% if(typeof(errors) != 'undefined' ) { %>
        <% for (var x in errors) { %>
        <h3><%= errors[x].message %></h3>
        <% } %>
    <% } %>
    <h1>Add Mongoose</h1>
    <form action="/mongooses" method="POST">
        <table>
            <tr>
                <td>Your name:</td>
                <td><input type="text" name="name"></td>
            </tr>
        </table>
        <div id="buttons">
            <input type="submit" value="Add a Mongoose!">
        </div>
    </form>
    <a href="/">Home</a>
</body>
</html>