<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mongoose Demo</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Age</td>
            </tr>
        </thead>
        <tbody>
            <% for (var x=0;x<users.length;x++) { %>
                <tr>
                    <td><%= users[x].name %></td>
                    <td><%= users[x].age %></td>
                </tr>
            <% } %>
        </tbody>
    </table>
    <form action="/users" method="POST">
        <input type="text" name="name">
        <input type="text" name="age">
        <input type="submit" value="Add User">
    </form>
</body>
</html>