/* fieldset{
    display: flex;
    flex-direction: column;
}
#buttons{
    text-align: right;
} */
*{
    margin: 0px;
    padding: 0px;
}
#dashboard{
    display: flex;
    flex-flow: row wrap;
}
.user{
    border: 1px solid black;
    width: 150px;
    height: 150px;
}
h4{
    height: 20px;
    border: 1px solid black;
    background-color: skyblue;
    text-align: center;
}